<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Not Found | Food Computing Academy</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styling.css') }}">
</head>
<body>

<!-- NAV -->
{% include 'nav.html' %}
{% include 'popups.html' %}

<!-- SEARCH OVERLAY -->
<div class="search-overlay" id="search-overlay">
    <div class="search-box">
        <form method="GET" action="/search" style="display:flex; gap:1rem; flex:1;">
            <input type="text" name="q" placeholder="Search..." id="search-input" autocomplete="off">
            <button type="submit" style="background:none; border:none; color:var(--muted); font-size:18px; cursor:pointer;">⏎</button>
        </form>
        <button onclick="closeSearch()">✕</button>
    </div>
</div>
<h1>404</h1>
<p>Sorry, the page you're looking for isnt avaliable.</p>
<!-- FOOTER -->
{% include 'footer.html' %}

<script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
</body>
</html>